@font-face{
    font-family:'Gentium Book Basic';
    src: url('../fonts/GenBkBasR.ttf') format('truetype');  
}

@font-face{
    font-family:'Gentium Book Italic';
    src: url('../fonts/GenBkBasI.ttf') format('truetype');  
}

@font-face{
    font-family:'GenBkBasBI';
    src: url('../fonts/GenBkBasBI.ttf') format('truetype');  
}

@font-face{
    font-family:'OpenSans Bold';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');  
}

@font-face{
    font-family:'OpenSans-Semibold';
    src: url('../fonts/OpenSans-Semibold.ttf') format('truetype');  
}


